@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    line-height: 1.25em;
}

p {
    font-size: 18px;
    line-height: 1.5em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}


li {
    list-style-type: none;
    padding-left: 16px;
}

.login {
    margin: 0 24px 0 48px;
    text-decoration: none;
    padding: 0 0 4px;
}

.nav__link {
    text-decoration: none;
    color: #243e63;
    font-size: 14px;
    font-weight: 700;
    margin: 0 24px;
    padding: 0 0 4px;
}

.nav__links {
    display: flex;
    padding: 8px;
    text-decoration: none;
}

.logo__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #243e63;
    max-width: 1%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.treact {
    font-size: 24px;
}

.logo__box {
    width: 100%;
    max-width: 40px;
    margin: 0 12px 0 0;
}

.signup {
    background-color: #6415ff;
    border-radius: 9999px;
    color: #f7fafc;
    padding: 12px 32px;
    text-decoration: none;
}

.purple__text {
    color: #6415ff
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__text {
    width: 40%;
    flex-wrap: wrap;
}

.intro__img {
    width: 60%;
}

.intro__img--wrapper {
    width: 100%;
}

.trusted__customers {
    width: 100%;
    margin: 16px 0 0;
    padding: 0 128px 0 0;
}

.customers {
    margin: 80px 0 0;
    display: flex;
    flex-direction: column;
}

.customers__text {
    color: #a0aec0;
    font-size: 12px;
}

.intro__para {
    margin: 32px 0;
}

.btn {
    padding: 16px 32px;
    margin: 8px 8px 8px 0;
    background-color: #6415ff;
    color: #f7fafc;
    font-size: 16px;
    border-radius: 9999px;
    border: none;
    position: absolute;
}

.input__text {
    background-color: #ffffff;
    padding: 20px 192px 20px 32px;
    border-radius: 9999px;
    position: relative;
}

.container {
    padding: 80px 0;
    text-align: center;

}

.features__header {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    
}

.features__header--main {
    font-size: 48px;
    color: #243e63;
}

.features__para {
    color: #7c8ba1;
    flex-wrap: wrap;
}