@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
}

.nav__links {
    display: flex;
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
}

.purple__logo {
    color: #7342d6;
}